{% extends 'base.html' %}

{% block title %}
{{ review.position.job_title }} at {{ review.position.company_name }} ({{review.position.location}})

{% endblock %}


{% block content %}
<h4>{{ review.title }} by {{ review.user_name }}</h4>
<p>{{ review.rating }} of 5</p>

<p>{{ review.pub_date }}</p>

<ul class="list-inline">
   {% for option in review_options %}
   <li class="text-muted"> {{option}}<li> 

    {% endfor %}
</ul>



<p>{{ review.comment }}</p>

<p>total time: {{ review.total_time }}</p>

<p>total number of interviews: {{ review.total_number_interviews }}</p>

<p>got an offer: {{ review.got_an_offer }}</p>



{% endblock %}